In [1]:
import datetime as ls
datetime.datetime.now()

datetime.datetime(2020, 4, 3, 15, 30, 11, 626466)

In [14]:
dt = datetime.datetime.now()
print("Date and Time is -", dt)
print(dt)

Date and Time is - 2020-04-03 15:42:20.968264
2020-04-03 15:42:20.968264

In [18]:
import datetime as ls
dt = datetime.datetime.now()
print("Date and Time is -", dt)
print(dt)

Date and Time is - 2020-04-03 15:49:16.354335
2020-04-03 15:49:16.354335

In [21]:
x = 10
y="20"
z= 10.2
print(type(x), type(y), type(z))

<class 'int'> <class 'str'> <class 'float'>

In [24]:
x = 12.01
y = 15.7
z = 17.2
s = x+y+z
print(s)

44.91

In [26]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
range(1, 19)

range(1, 19)

In [29]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [30]:
temperatures = [34.6, 1, "Todays temp"]

In [31]:
temperatures

[34.6, 1, 'Todays temp']

In [32]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
temp = [34.6, 1, "Todays temp"]
pop.temp[0]
print(temp)

NameError: name 'pop' is not defined

In [42]:
temp=[24.7, 27.3, 30.4, 33.4, 35.2, 36.4, 37, 42, 41.2]
TotalTemp= sum(temp)
Count = len(temp)
AvgTemp = TotalTemp / Count
print(AvgTemp)

34.17777777777778

In [58]:
temp=[24.7, 27.3, 30.4, 33.4, 35.2, 36.4, 37, 42, 41.2]
Xp = len(temp) - 1
print(temp[Xp])
Tp = temp.sort(reverse = True)
print(temp)
Tp = temp[0]
Tp1 = max(temp)
print(Tp)
print(Tp1)
print(len(temp))

41.2
[42, 41.2, 37, 36.4, 35.2, 33.4, 30.4, 27.3, 24.7]
42
42
9

In [59]:
temp ="manoj"
temp.upper()

'MANOJ'

In [60]:
emp ="manoj"
temp.title()

'Manoj'

In [61]:
emp ="Manoj"
temp.lower()

'manoj'

In [86]:
grade = {"Manoj": 8.7, "Nitish": 8.2, "Jay": 9.2, "akshya": 9.3, "Vaibhav": 9.5}
sumation = sum(grade.values())
print(grade.values())
print(grade.keys())
print(grade("Manoj"))

dict_values([8.7, 8.2, 9.2, 9.3, 9.5])
dict_keys(['Manoj', 'Nitish', 'Jay', 'akshya', 'Vaibhav'])

TypeError: 'dict' object is not callable

In [79]:
grade = {"Manoj": 8.7, "Nitish": 8.2, "Jay": 9.2, "akshya": 9.3, "Vaibhav": 9.5}
type(grade)
grade.values()

dict_values([8.7, 8.2, 9.2, 9.3, 9.5])

In [77]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [103]:
s = range(0, 3)
list1 = []
for i in s:
    a = input("Please enter the input")
    list1.append(a)
print(list1)
print(type(list1))
print(type(List1))
list1.sort()
print(list1)

Please enter the input 12
Please enter the input 23
Please enter the input 24

['12', '23', '33', '12', '23', '24']
<class 'list'>
<class 'list'>
['12', '12', '23', '23', '24', '33']

In [105]:
seconds = [1.2323442655, 1.4534345567, 1.023458894]
current = 1.10001399445
seconds.append(current)
seconds

[1.2323442655, 1.4534345567, 1.023458894, 1.10001399445]

In [106]:
seconds = [1.2323442655, 1.4534345567, 1.023458894, 1.10001399445]
seconds.remove(1.4534345567)
seconds

[1.2323442655, 1.023458894, 1.10001399445]

In [108]:
seconds = [1.2323442655, 1.4534345567, 1.023458894, 1.10001399445]
seconds.pop(1)
seconds

[1.2323442655, 1.023458894, 1.10001399445]

In [110]:
seconds = [1.2323442655, 1.4534345567, 1.023458894, 1.10001399445]
seconds.remove(1.4534345567)
seconds[1]

1.023458894

In [111]:
workdays = ["Mon", "Tue", "Wed", "Thu", "Fri"]
weekend = ["Sat", "Sun"]
workdays.append(weekend[0])
workdays

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [113]:
al = workdays[2:4]
al

['Wed', 'Thu']

In [114]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters[1:4])

['b', 'c', 'd']

In [115]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters[:3])

['a', 'b', 'c']

In [116]:
grade = {"Manoj": 8.7, "Nitish": 8.2, "Jay": 9.2, "akshya": 9.3, "Vaibhav": 9.5}
type(grade)
grade["Manoj"]

8.7

In [121]:
grade = {"Manoj": 8.7, "Nitish": 8.2, "Jay": 9.2, "akshya": 9.3, "Vaibhav": 9.5}
grade['akshya']

9.3