In [33]:
import pandas as pd
dataset = pd.read_csv("Customer segment dataset.csv")
###print(dataset)
Min = dataset.iloc[:,1]
Purches = dataset.iloc[:,3]
print("Average Balance on credit card - ", (Min.sum()/8950))
print("Current month purchase bill - ", Purches.sum())
XP = dataset[(dataset["BALANCE"]>1000) & (dataset["CREDIT_LIMIT"]>9000) & (dataset["INSTALLMENTS_PURCHASES"]>3000)]
XP.head()
ZP = dataset[(dataset["BALANCE"]>1000) | (dataset["CREDIT_LIMIT"]>9000) | (dataset["INSTALLMENTS_PURCHASES"]>3000)]
ZP.head()

Average Balance on credit card -  1564.4748276781006
Current month purchase bill -  8978683.26

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CREDIT_LIMIT,TENURE
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,0.000000,0.000000,7000.0,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,1.000000,0.000000,7500.0,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.00,0.083333,0.000000,7500.0,12
5,C10006,1809.828751,1.000000,1333.28,0.00,1333.28,0.666667,0.583333,1800.0,12
6,C10007,627.260806,1.000000,7091.01,6402.63,688.38,1.000000,1.000000,13500.0,12

In [35]:
dataset.iloc[0:50,:]

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CREDIT_LIMIT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.166667,0.083333,1000.0,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,0.000000,0.000000,7000.0,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,1.000000,0.000000,7500.0,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.00,0.083333,0.000000,7500.0,12
4,C10005,817.714335,1.000000,16.00,16.00,0.00,0.083333,0.000000,1200.0,12
5,C10006,1809.828751,1.000000,1333.28,0.00,1333.28,0.666667,0.583333,1800.0,12
6,C10007,627.260806,1.000000,7091.01,6402.63,688.38,1.000000,1.000000,13500.0,12
7,C10008,1823.652743,1.000000,436.20,0.00,436.20,1.000000,1.000000,2300.0,12
8,C10009,1014.926473,1.000000,861.49,661.49,200.00,0.333333,0.250000,7000.0,12
9,C10010,152.225975,0.545455,1281.60,1281.60,0.00,0.166667,0.000000,11000.0,12
10,C10011,1293.124939,1.000000,920.12,0.00,920.12,1.000000,1.000000,1200.0,12
11,C10012,630.794744,0.818182,1492.18,1492.18,0.00,0.250000,0.000000,2000.0,12
12,C10013,1516.928620,1.000000,3217.99,2500.23,717.76,1.000000,0.916667,3000.0,12
13,C10014,921.693369,1.000000,2137.93,419.96,1717.97,0.750000,0.750000,7500.0,12
14,C10015,2772.772734,1.000000,0.00,0.00,0.00,0.000000,0.000000,3000.0,12
15,C10016,6886.213231,1.000000,1611.70,0.00,1611.70,0.500000,0.500000,8000.0,12
16,C10017,2072.074354,0.875000,0.00,0.00,0.00,0.000000,0.000000,3000.0,8
17,C10018,41.089489,0.454545,519.00,0.00,519.00,0.416667,0.333333,2500.0,12
18,C10019,1989.072228,1.000000,504.35,166.00,338.35,0.666667,0.583333,13000.0,12
19,C10020,3577.970933,1.000000,398.64,0.00,398.64,1.000000,1.000000,4000.0,12
20,C10021,2016.684686,1.000000,176.68,0.00,176.68,0.666667,0.666667,2000.0,12
21,C10022,6369.531318,1.000000,6359.95,5910.04,449.91,1.000000,1.000000,11250.0,12
22,C10023,132.342240,0.636364,815.90,0.00,815.90,1.000000,1.000000,1800.0,12
23,C10024,3800.151377,0.818182,4248.35,3454.56,793.79,1.000000,0.916667,9000.0,12
24,C10025,5368.571219,1.000000,0.00,0.00,0.00,0.000000,0.000000,6000.0,11
25,C10026,169.781679,1.000000,399.60,0.00,399.60,1.000000,1.000000,3000.0,12
26,C10027,1615.967240,1.000000,102.00,102.00,0.00,0.166667,0.000000,1700.0,12
27,C10028,125.694817,1.000000,233.28,0.00,233.28,1.000000,1.000000,1000.0,12
28,C10029,7152.864372,1.000000,387.05,204.55,182.50,0.666667,0.416667,10500.0,12
29,C10030,22.063490,1.000000,100.00,0.00,100.00,0.416667,0.416667,6900.0,12
30,C10031,12136.219960,1.000000,3038.01,1013.20,2024.81,1.000000,1.000000,13000.0,12
31,C10032,1162.273324,1.000000,1347.71,400.00,947.71,1.000000,1.000000,6000.0,12
32,C10033,6732.823064,1.000000,324.95,324.95,0.00,0.083333,0.000000,10500.0,12
33,C10034,125.660453,1.000000,636.79,636.79,0.00,0.916667,0.000000,1200.0,12
34,C10035,3517.101616,0.727273,547.28,0.00,547.28,1.000000,1.000000,11000.0,12
35,C10036,1656.350781,1.000000,0.00,0.00,0.00,0.000000,0.000000,1800.0,12
36,C10037,7427.076941,1.000000,0.00,0.00,0.00,0.000000,0.000000,9000.0,11
37,C10038,4047.480828,1.000000,2380.55,1642.17,738.38,0.750000,0.750000,5000.0,12
38,C10039,6269.418144,1.000000,204.00,204.00,0.00,0.083333,0.000000,9000.0,12
39,C10040,1411.602230,0.454545,963.24,963.24,0.00,0.083333,0.000000,7500.0,12
40,C10041,663.447810,0.727273,0.00,0.00,0.00,0.000000,0.000000,1800.0,12
41,C10043,784.889762,0.909091,1526.59,786.30,740.29,0.583333,0.333333,3000.0,12
42,C10044,4104.710798,1.000000,203.82,203.82,0.00,0.083333,0.000000,4500.0,12
43,C10045,1360.742377,1.000000,0.00,0.00,0.00,0.000000,0.000000,1500.0,12
44,C10046,5315.945594,1.000000,1525.44,469.80,1055.64,1.000000,1.000000,8500.0,12
45,C10047,2242.311686,1.000000,437.00,97.00,340.00,0.333333,0.333333,2400.0,12
46,C10048,474.447149,0.500000,109.74,0.00,109.74,0.375000,0.250000,1700.0,8
47,C10049,3910.111237,1.000000,0.00,0.00,0.00,0.000000,0.000000,4200.0,12
48,C10050,229.867179,1.000000,2390.60,1402.93,987.67,1.000000,1.000000,3300.0,12
49,C10051,863.809833,1.000000,507.50,507.50,0.00,0.166667,0.000000,4000.0,12

In [54]:
a = dataset.BALANCE.describe()
###a.iloc[:,0]
a

count     8950.000000
mean      1564.474828
std       2081.531879
min          0.000000
25%        128.281915
50%        873.385231
75%       2054.140036
max      19043.138560
Name: BALANCE, dtype: float64

In [70]:
dataset.shape
A=dataset.iloc[:,1]
dataset.sort_values(by="BALANCE", inplace=True, ascending=False)
dataset.sort_values(by="BALANCE", inplace=True)
dataset

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CREDIT_LIMIT,TENURE
860,C10891,0.00000,0.0,199.88,0.00,199.88,0.750000,0.750000,4000.0,12
3187,C13279,0.00000,0.0,61.21,61.21,0.00,0.083333,0.000000,2600.0,12
6972,C17162,0.00000,0.0,393.29,45.65,347.64,1.000000,1.000000,1000.0,12
8050,C18268,0.00000,0.0,271.56,0.00,271.56,1.000000,1.000000,2000.0,12
3070,C13159,0.00000,0.0,63.30,0.00,63.30,0.250000,0.250000,2700.0,12
...,...,...,...,...,...,...,...,...,...,...
5281,C15429,16115.59640,1.0,684.74,105.30,579.44,1.000000,1.000000,18000.0,12
6629,C16812,16259.44857,1.0,5024.68,3582.45,1442.23,1.000000,1.000000,18000.0,12
5488,C15642,16304.88925,1.0,1770.57,0.00,1770.57,0.500000,0.416667,19000.0,12
4140,C14256,18495.55855,1.0,5288.28,3657.30,1630.98,1.000000,1.000000,22000.0,12
138,C10144,19043.13856,1.0,22009.92,9449.07,12560.85,1.000000,1.000000,18000.0,12

In [40]:
dataset.size

89500

In [41]:
dataset.ndim

2

In [43]:
print(dataset.head())
print(dataset.head(10))
print(dataset.tail())
print(dataset.tail(10))

  CUST_ID      BALANCE  BALANCE_FREQUENCY  PURCHASES  ONEOFF_PURCHASES  \
0  C10001    40.900749           0.818182      95.40              0.00
1  C10002  3202.467416           0.909091       0.00              0.00
2  C10003  2495.148862           1.000000     773.17            773.17
3  C10004  1666.670542           0.636364    1499.00           1499.00
4  C10005   817.714335           1.000000      16.00             16.00

   INSTALLMENTS_PURCHASES  PURCHASES_FREQUENCY  \
0                    95.4             0.166667
1                     0.0             0.000000
2                     0.0             1.000000
3                     0.0             0.083333
4                     0.0             0.083333

   PURCHASES_INSTALLMENTS_FREQUENCY  CREDIT_LIMIT  TENURE
0                          0.083333        1000.0      12
1                          0.000000        7000.0      12
2                          0.000000        7500.0      12
3                          0.000000        7500.0      12
4                          0.000000        1200.0      12
  CUST_ID      BALANCE  BALANCE_FREQUENCY  PURCHASES  ONEOFF_PURCHASES  \
0  C10001    40.900749           0.818182      95.40              0.00
1  C10002  3202.467416           0.909091       0.00              0.00
2  C10003  2495.148862           1.000000     773.17            773.17
3  C10004  1666.670542           0.636364    1499.00           1499.00
4  C10005   817.714335           1.000000      16.00             16.00
5  C10006  1809.828751           1.000000    1333.28              0.00
6  C10007   627.260806           1.000000    7091.01           6402.63
7  C10008  1823.652743           1.000000     436.20              0.00
8  C10009  1014.926473           1.000000     861.49            661.49
9  C10010   152.225975           0.545455    1281.60           1281.60

   INSTALLMENTS_PURCHASES  PURCHASES_FREQUENCY  \
0                   95.40             0.166667
1                    0.00             0.000000
2                    0.00             1.000000
3                    0.00             0.083333
4                    0.00             0.083333
5                 1333.28             0.666667
6                  688.38             1.000000
7                  436.20             1.000000
8                  200.00             0.333333
9                    0.00             0.166667

   PURCHASES_INSTALLMENTS_FREQUENCY  CREDIT_LIMIT  TENURE
0                          0.083333        1000.0      12
1                          0.000000        7000.0      12
2                          0.000000        7500.0      12
3                          0.000000        7500.0      12
4                          0.000000        1200.0      12
5                          0.583333        1800.0      12
6                          1.000000       13500.0      12
7                          1.000000        2300.0      12
8                          0.250000        7000.0      12
9                          0.000000       11000.0      12
     CUST_ID     BALANCE  BALANCE_FREQUENCY  PURCHASES  ONEOFF_PURCHASES  \
8945  C19186   28.493517           1.000000     291.12              0.00
8946  C19187   19.183215           1.000000     300.00              0.00
8947  C19188   23.398673           0.833333     144.40              0.00
8948  C19189   13.457564           0.833333       0.00              0.00
8949  C19190  372.708075           0.666667    1093.25           1093.25

      INSTALLMENTS_PURCHASES  PURCHASES_FREQUENCY  \
8945                  291.12             1.000000
8946                  300.00             1.000000
8947                  144.40             0.833333
8948                    0.00             0.000000
8949                    0.00             0.666667

      PURCHASES_INSTALLMENTS_FREQUENCY  CREDIT_LIMIT  TENURE
8945                          0.833333        1000.0       6
8946                          0.833333        1000.0       6
8947                          0.666667        1000.0       6
8948                          0.000000         500.0       6
8949                          0.000000        1200.0       6
     CUST_ID      BALANCE  BALANCE_FREQUENCY  PURCHASES  ONEOFF_PURCHASES  \
8940  C19181   130.838554           1.000000     591.24              0.00
8941  C19182  5967.475270           0.833333     214.55              0.00
8942  C19183    40.829749           1.000000     113.28              0.00
8943  C19184     5.871712           0.500000      20.90             20.90
8944  C19185   193.571722           0.833333    1012.73           1012.73
8945  C19186    28.493517           1.000000     291.12              0.00
8946  C19187    19.183215           1.000000     300.00              0.00
8947  C19188    23.398673           0.833333     144.40              0.00
8948  C19189    13.457564           0.833333       0.00              0.00
8949  C19190   372.708075           0.666667    1093.25           1093.25

      INSTALLMENTS_PURCHASES  PURCHASES_FREQUENCY  \
8940                  591.24             1.000000
8941                  214.55             0.833333
8942                  113.28             1.000000
8943                    0.00             0.166667
8944                    0.00             0.333333
8945                  291.12             1.000000
8946                  300.00             1.000000
8947                  144.40             0.833333
8948                    0.00             0.000000
8949                    0.00             0.666667

      PURCHASES_INSTALLMENTS_FREQUENCY  CREDIT_LIMIT  TENURE
8940                          0.833333        1000.0       6
8941                          0.666667        9000.0       6
8942                          0.833333        1000.0       6
8943                          0.000000         500.0       6
8944                          0.000000        4000.0       6
8945                          0.833333        1000.0       6
8946                          0.833333        1000.0       6
8947                          0.666667        1000.0       6
8948                          0.000000         500.0       6
8949                          0.000000        1200.0       6

In [53]:
from pandas import DataFrame
 
Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = DataFrame(Cars, columns= ['Brand', 'Price','Year'])

# sort Brand - ascending order
df.sort_values(by=['Price'], inplace=True)
df.sort_values(by=['Price'], inplace=True, ascending=False)
print (df)

            Brand  Price  Year
3         Audi A4  35000  2018
2      Ford Focus  27000  2018
1  Toyota Corolla  25000  2013
0     Honda Civic  22000  2015