In [1]:
8.#import nerssesory labraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import train & test data from csv fils and save them into df_train and df_test
df_train = pd.read_csv("train_mb.csv")
df_test = pd.read_csv('test_mb.csv', error_bad_lines=False)

b'Skipping line 2764: expected 377 fields, saw 387\n'

In [3]:
#check the 1st 3 entry od the data
df_train.head(3)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,88.53,k,t,av,e,d,y,l,o,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,76.26,az,w,n,c,d,x,j,x,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [4]:
df_test.head(3)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1.0,az,v,n,f,d,t,a,w,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,t,b,ai,a,d,b,g,y,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,az,v,as,f,d,a,j,j,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#infomation about trin data 
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Columns: 378 entries, ID to X385
dtypes: float64(153), int64(217), object(8)
memory usage: 20.3+ MB

In [6]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7037 entries, 0 to 7036
Columns: 377 entries, ID to X385
dtypes: float64(67), int64(302), object(8)
memory usage: 20.2+ MB

In [7]:
# check the mean. max, std & Q1, Q2, Q2 from the data for all columns
df_train.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,7050.000000,7050.000000,7050.000000,7050.0,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,...,7048.000000,7048.000000,7048.000000,7048.000000,7048.000000,7048.000000,7048.000000,7048.000000,7048.000000,7048.000000
mean,4759.042695,100.481940,0.013333,0.0,0.079149,0.055887,0.424113,0.000426,0.001844,0.006950,...,0.321652,0.051078,0.316118,0.021566,0.009790,0.007946,0.006952,0.001703,0.000426,0.001703
std,2256.786652,12.569178,0.114706,0.0,0.269990,0.229719,0.494243,0.020625,0.042905,0.083084,...,0.467143,0.220173,0.464993,0.145273,0.098466,0.088789,0.083096,0.041230,0.020628,0.041230
min,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3119.000000,90.760000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4908.000000,99.030000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6637.000000,108.940000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df_test.describe()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,7036.000000,7037.000000,7037.000000,7037.000000,7037.000000,7037.000000,7037.000000,7037.000000,7037.000000,7037.000000,...,7036.000000,7036.000000,7036.000000,7036.000000,7036.000000,7036.000000,7036.000000,7036.000000,7036.000000,7036.000000
mean,4763.623223,0.018758,0.000142,0.078158,0.062242,0.421913,0.000853,0.001989,0.008384,0.010232,...,0.327175,0.042922,0.316373,0.019898,0.012649,0.008528,0.008385,0.000569,0.000853,0.001990
std,2243.608152,0.135679,0.011921,0.268440,0.241613,0.493900,0.029190,0.044562,0.091187,0.100640,...,0.469215,0.202696,0.465093,0.139659,0.111763,0.091957,0.091194,0.023838,0.029192,0.044566
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3144.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4880.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6680.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
# check the variance for all columns excepth the columns of object data type  
numeric_feats = df_train.dtypes[df_train.dtypes != "object"].index
Var_zero_index=[]
allcolumns= numeric_feats
for item in allcolumns:
    a = np.var(df_train[item])
    #print(item, a)
    if a == 0.0:
        Var_zero_index.append(item)
print(Var_zero_index)

#numeric_feats1 = df_test.dtypes[df_test.dtypes != "object"].index
#Var_zero_index1=[]
#allcolumns1= numeric_feats1
#for item in allcolumns1:
#    a = np.var(df_test[item])
#    #print(item, a)
#    if a == 0.0:
#        Var_zero_index1.append(item)
#print(Var_zero_index1)

['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']

In [10]:
#drop the colums which has zero variance from the data set
df_train_filter = df_train.drop(['X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347'], axis=1)
df_test_filter = df_test.drop(['X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347'], axis=1)

In [11]:
# chech the lenght of train and test data
df_train.shape, df_train_filter.shape

((7050, 378), (7050, 367))

In [12]:
df_test.shape, df_test_filter.shape

((7037, 377), (7037, 366))

In [13]:
# check the filtered dataset
df_train_filter.head(2)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,88.53,k,t,av,e,d,y,l,o,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df_test_filter.head(2)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1.0,az,v,n,f,d,t,a,w,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,t,b,ai,a,d,b,g,y,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# check the filter dataset for null value 
df_train_filter.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    2
X382    2
X383    2
X384    2
X385    2
Length: 367, dtype: int64

In [17]:
# drop the null values
df_train_filter.dropna(inplace=True)

In [18]:
df_train_filter.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 367, dtype: int64

In [19]:
df_test_filter.isnull().sum()

ID      1
X0      0
X1      0
X2      0
X3      0
       ..
X380    1
X382    1
X383    1
X384    1
X385    1
Length: 366, dtype: int64

In [20]:
df_test_filter.dropna(inplace=True)

In [22]:
df_test_filter.isnull().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 366, dtype: int64

In [24]:
# check the uniqyue values in the data set
allcolumns= df_train_filter.columns
for item in allcolumns:
    print(df_train_filter[item].unique(),"\t",df_train_filter[item].nunique())

[   0    6    7 ... 8412 8415 8417] 	 4209
[130.81  88.53  76.26 ...  85.71 108.77  87.48] 	 2545
['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab'] 	 47
['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab'] 	 27
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar'] 	 44
['a' 'e' 'c' 'f' 'd' 'b' 'g'] 	 7
['d' 'b' 'c' 'a'] 	 4
['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa'] 	 29
['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b'] 	 12
['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c'] 	 25
[0 1] 	 2
[0] 	 1
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0. 1.] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2

In [26]:
allcolumns= df_test_filter.columns
for item in allcolumns:
    print(df_test_filter[item].unique(),"\t",df_test_filter[item].nunique())

[1.000e+00 2.000e+00 3.000e+00 ... 8.413e+03 8.414e+03 8.416e+03] 	 4209
['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb'] 	 49
['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab'] 	 27
['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u'] 	 45
['f' 'a' 'c' 'e' 'd' 'g' 'b'] 	 7
['d' 'b' 'a' 'c'] 	 4
['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa'] 	 32
['a' 'g' 'j' 'l' 'i' 'd' 'f' 'h' 'c' 'k' 'e' 'b'] 	 12
['w' 'y' 'j' 'n' 'm' 's' 'a' 'v' 'r' 'o' 't' 'h' 'c' 'k' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x'] 	 25
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0] 	 1
[0] 	 1
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0] 	 1
[0] 	 1
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0.] 	 1
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[1. 0.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2
[0. 1.] 	 2

In [27]:
# assign X abd Y values from dataser
x_train = df_train_filter.drop(['ID', 'y'], axis=1)
y_train = df_train_filter['y']

x_test = df_test_filter.drop(['ID'], axis=1)

In [29]:
x_train.shape, y_train.shape, x_test.shape

((7048, 365), (7048,), (7036, 365))

In [30]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7048 entries, 0 to 7049
Columns: 365 entries, X0 to X385
dtypes: float64(143), int64(214), object(8)
memory usage: 19.7+ MB

In [31]:
# apply label encoder for object datatype columns 
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for i in x_train.dtypes[x_train.dtypes == "object"].index:
    x_train[i]=le.fit_transform(x_train[i])

In [32]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7048 entries, 0 to 7049
Columns: 365 entries, X0 to X385
dtypes: float64(143), int64(222)
memory usage: 19.7 MB

In [33]:
for i in x_test.dtypes[x_test.dtypes == "object"].index:
    x_test[i]=le.fit_transform(x_test[i])

In [34]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7036 entries, 0 to 7036
Columns: 365 entries, X0 to X385
dtypes: float64(64), int64(301)
memory usage: 19.6 MB

In [59]:
# apply standard scaler for normalising the data
from sklearn.preprocessing import StandardScaler

In [60]:
scaler = StandardScaler()
scaler.fit(x_train)
scaler.fit(x_test)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [61]:
scaled_data_train = scaler.transform(x_train)
scaled_data_test = scaler.transform(x_test)

In [63]:
# apply dimenson reduction with PCA
from sklearn.decomposition import PCA

In [64]:
pca = PCA(n_components=90)

In [65]:
pca.fit(scaled_data_train)
pca.fit(scaled_data_test)

PCA(copy=True, iterated_power='auto', n_components=90, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [67]:
x_train_pca = pca.transform(scaled_data_train)
x_test_pca = pca.transform(scaled_data_test)

In [68]:
scaled_data_train.shape, scaled_data_test.shape

((7048, 365), (7036, 365))

In [69]:
x_train_pca.shape, x_test_pca.shape

((7048, 90),)

In [70]:
pca.explained_variance_ratio_.sum()

0.828509051395357

In [88]:
# import xgboost and apply xgboost regression on train data

import xgboost
import csv as csv
from xgboost import plot_importance
from sklearn.model_selection import cross_val_score,KFold
from sklearn.metrics import mean_absolute_error
#from sklearn.grid_search import GridSearchCV   #Perforing grid search
#from scipy.stats import skew
#from collections import OrderedDict
#best_xgb_model = xgboost.XGBRegressor(colsample_bytree=0.4,
 #                gamma=0,                 
  #               learning_rate=0.07,
   #              max_depth=3,
    #             min_child_weight=1.5,
     #            n_estimators=10000,                                                                    
      #           reg_alpha=0.75,
       #          reg_lambda=0.45,
        #         subsample=0.6,
         #        seed=42)

In [89]:
best_xgb_model = xgboost.XGBRegressor()
best_xgb_model.fit(x_train_pca,y_train)

XGBRegressor(base_score=0.5, booster=None, colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
             validate_parameters=False, verbosity=None)

In [90]:
#predict the value for test data
df_test_filter['Prediction'] = best_xgb_model.predict(x_test_pca)
filename = 'submission.csv'
pd.DataFrame({'ID': df_test_filter.ID, 'Y': df_test_filter.Prediction}).to_csv(filename, index=False)

In [91]:
print(df_test_filter['Prediction'].head())
print(df_test_filter['Prediction'].count())

0     95.038177
1    120.340508
2     89.720245
3     81.062408
4    104.550766
Name: Prediction, dtype: float32
7036

In [92]:
df_test_filter['Prediction']

0        95.038177
1       120.340508
2        89.720245
3        81.062408
4       104.550766
           ...
7032    119.861580
7033     98.427574
7034     96.906532
7035    112.531914
7036     93.163712
Name: Prediction, Length: 7036, dtype: float32

In [93]:
from sklearn.metrics import mean_squared_error

In [95]:
pred_train = best_xgb_model.predict(x_train_pca)

In [97]:
mean_absolute_error(y_train, pred_train)

1.6472074457573431