In [135]:
import pandas as pd
df_media = pd.read_csv('Advertising Budget and Sales.csv')
df_media = df_media.drop('Unnamed: 0', axis=1)
df_media = df_media.rename(columns={'TV Ad Budget ($)': 'TV', 'Radio Ad Budget ($)' : 'Radio', 'Newspaper Ad Budget ($)' : 'Newspaper', 'Sales ($)' : 'Sales'})
media_used = pd.DataFrame(df_media.columns[0:3], columns=['media channels used by the firm'])
print(media_used)
df_media

  media channels used by the firm
0                              TV
1                           Radio
2                       Newspaper

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [101]:
media_used = pd.DataFrame(df_media.columns[0:3], columns=['media channels used by the firm'])

In [102]:
media_used

  media channels used by the firm
0                              TV
1                           Radio
2                       Newspaper

In [103]:
df_media.shape

(200, 4)

In [104]:
from sklearn.linear_model import LinearRegression
ln=LinearRegression()
x = df_media.drop('Sales', axis=1)
y = df_media.iloc[:,-1]

df_media_model = ln.fit(x,y)

In [105]:
df_media_model.coef_

array([ 0.04576465,  0.18853002, -0.00103749])

In [106]:
df_media_model.intercept_

2.938889369459412

In [107]:
prd_sales = df_media_model.predict(x)
prd_sales = pd.DataFrame(prd_sales, columns=['Predicted Sales'])
prd_sales.head()

   Predicted Sales
0        20.523974
1        12.337855
2        12.307671
3        17.597830
4        13.188672

In [113]:
prd_df_media_model = pd.concat([df_media,prd_sales],axis=1)
prd_df_media_model.head()

      TV  Radio  Newspaper  Sales  Predicted Sales
0  230.1   37.8       69.2   22.1        20.523974
1   44.5   39.3       45.1   10.4        12.337855
2   17.2   45.9       69.3    9.3        12.307671
3  151.5   41.3       58.5   18.5        17.597830
4  180.8   10.8       58.4   12.9        13.188672

In [114]:
prd_df_media_model['Error'] = (abs(prd_df_media_model['Sales'] - prd_df_media_model['Predicted Sales'])/prd_df_media_model['Sales'])*100

In [115]:
prd_df_media_model.head()

      TV  Radio  Newspaper  Sales  Predicted Sales      Error
0  230.1   37.8       69.2   22.1        20.523974   7.131338
1   44.5   39.3       45.1   10.4        12.337855  18.633219
2   17.2   45.9       69.3    9.3        12.307671  32.340546
3  151.5   41.3       58.5   18.5        17.597830   4.876597
4  180.8   10.8       58.4   12.9        13.188672   2.237766

In [117]:
prd_df_media_model.Error.mean()

13.877847090457148

In [118]:
100-prd_df_media_model.Error.mean()

86.12215290954285

In [144]:
from sklearn.linear_model import LinearRegression
ln=LinearRegression()
x = df_media.drop('Sales', axis=1)
y = df_media.iloc[:,-1]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size =.25)
df_model = ln.fit(x_train, y_train)
pred_sales = df_model.predict(x_test)
pred_sales = pd.DataFrame(pred_sales_1, columns=['Predicted Sales'])
new_model = pd.concat([pd.concat([x_test,y_test],axis=1).reset_index(),pred_sales_1 ],axis=1)
new_model['Error']= (abs(new_model['Sales'] - new_model['Predicted Sales'])/new_model['Sales'])*100
from sklearn import metrics
import numpy as np
print (np.sqrt(metrics.mean_squared_error(y_test,pred_sales)))

7.677860265428737

In [127]:
new_model.Error.mean()

11.453368310319455

In [128]:
100-new_model.Error.mean()

88.54663168968054

In [129]:
from sklearn import metrics
import numpy as np
print (np.sqrt(metrics.mean_squared_error(y_test,pred_sales_1)))

1.57336891196403

In [130]:
print('Variance score: %.2f' % ln.score(x_test, y_test))

Variance score: 0.92

In [131]:
print("Mean squared error: %.2f" % np.mean((ln.predict(x_test) - y_test) ** 2))

Mean squared error: 2.48

In [132]:
np.sqrt(np.mean((ln.predict(x_test) - y_test) ** 2))

1.57336891196403