In [28]:
# control + enter key to run the code
a = 1

In [29]:
a

1

In [4]:
print(a)

1

In [5]:
credit_cards = 4

In [8]:
print(credit_cards)

4

In [9]:
Credit_cards # this will not work. Python is case sensitive language

NameError: name 'Credit_cards' is not defined

In [13]:
type(credit_cards)

int

In [16]:
cust_name = "Andy Simpson"
# or
cust_name = 'Andy Simpson'

In [17]:
cust_name

'Andy Simpson'

In [18]:
type(cust_name)

str

In [22]:
Age = 32.4
print(Age)
type(Age)

32.4

float

In [26]:
is_Male = False
is_Male

False

In [27]:
type(is_Male)

bool

In [1]:
# multiple objects together
Credit_cards, Balance = 4, 1089
print(Credit_cards)
print(Balance)

4
1089

In [4]:
cust_info = "Apple's Employee"
cust_info

"Apple's Employee"

In [8]:
# this will not work
cust_info = 'Apple's Employee'

SyntaxError: invalid syntax (<ipython-input-8-95070b4af33e>, line 2)

In [4]:
# creating a tuple - i.e. object with multiple elements
cust_details = "John",35,True 
# or
cust_details = ("John",35,True) 
print(cust_details)
type(cust_details)
cust_details[1]

('John', 35, True)

35

In [2]:
# below will not work as tuples are immutable
cust_details[1]
###cust_details[1] = 36

NameError: name 'cust_details' is not defined

In [12]:
## 2. list - the element can be changed i.e. its mutable
Cust_details = ["John",35,"New york","USA",4]
print(Cust_details)
type(Cust_details)

['John', 35, 'New york', 'USA', 4]

list

In [13]:
Cust_details[1] = 36

In [14]:
Cust_details

['John', 36, 'New york', 'USA', 4]

In [16]:
credit_cards = 4

In [17]:
credit_cards = 10
credit_cards

10

In [18]:
credit_cards[0] =10

TypeError: 'int' object does not support item assignment

In [22]:
#3. Set object in python
Auto_survey = {'BMW', 'BMW','AUDI','Merc', 'Merc','Bentley','Mini Cooper','Suzuki','Hundai'}
#or
Auto_survey = set(['BMW', 'BMW','AUDI','Merc', 'Merc','Bentley','Mini Cooper','Suzuki','Hundai'])

print(Auto_survey)
type(Auto_survey)

{'Suzuki', 'Merc', 'Hundai', 'Mini Cooper', 'AUDI', 'Bentley', 'BMW'}

set

In [24]:
Cust_details = ["John",35,"New york","USA",4]
print(Cust_details[0])
print(Cust_details[3])

John
USA

In [28]:
# 4. Dictionary
Cust_info = {"Name of Cust":"John Smith","emailid":"JS@gmail.com","Age":45,"Credit_card_status":True}
print(Cust_info)
type(Cust_info)

{'Name of Cust': 'John Smith', 'emailid': 'JS@gmail.com', 'Age': 45, 'Credit_card_status': True}

dict

In [31]:
Cust_info["Age"]

45

In [30]:
Cust_info["emailid"]

'JS@gmail.com'

In [27]:
Cust_info = {"Name of Cust":["John Smith","Andy"],"emailid":["JS@gmail.com",'xyz@rediff.com'],"Age":[45,52],"Credit_card_status":[True,False]}
print(Cust_info)
type(Cust_info)

{'Name of Cust': ['John Smith', 'Andy'], 'emailid': ['JS@gmail.com', 'xyz@rediff.com'], 'Age': [45, 52], 'Credit_card_status': [True, False]}

dict

In [6]:
import pandas as pd
Age_series = pd.Series([34,24,56,78,34,45])
print(Age_series.dtype)

int64

In [5]:
Cust_names = pd.Series(['John','Paul','Theresa','Liz','Angela'])
print(type(Cust_names))
print(Cust_names.dtype)

<class 'pandas.core.series.Series'>
object

In [7]:
### indexing
Cust_details = ["John",35,True]
print(Cust_details)
print(Cust_details[2])
print(Cust_details[1])
print(Cust_details[0])
print(Cust_details[0:2]) # n-1

['John', 35, True]
True
35
John
['John', 35]

In [26]:
Cust_details = ["John",35,True,"New York","Self Employed"]
print(Cust_details[0:3])
# to fetch oth to 3rd index
print(Cust_details[0:4])
print([Cust_details[i] for i in [0,2]])
list(Cust_details)[1]

['John', 35, True]
['John', 35, True, 'New York']
['John', True]

35

In [11]:
# missing variable
List1 = ["John",1,2,3,5,13,None]
#optional
[List1[i] for i in [0,4]]

['John', 5]

In [12]:
### type casting an object
# converting to number
float_num = 4.67
print("Now object its integer:",int(float_num),type(int(float_num)))

Now object its integer: 4 <class 'int'>

In [13]:
# converting to string
print("Now object its String:",str(float_num),type(str(float_num)))

Now object its String: 4.67 <class 'str'>

In [15]:
str_num = '4.67'
# str_num+1
print(float(str_num) + 1)
print(int(float(str_num)) + 1)

5.67
5

In [18]:
# tuple to list
tuple1= 23,"john Smith",101,False
list1  = list(tuple1)
print(list1)
list1[0]=26
print(list1)

[23, 'john Smith', 101, False]
[26, 'john Smith', 101, False]

In [17]:
# list to tuple
list1= [23,"john Smith",101,False]
tuple(list1)

(23, 'john Smith', 101, False)

In [19]:
# converting to logical
numbers = 1
print(bool(numbers))
numbers = 0
print(bool(numbers))
numbers = 3
print(bool(numbers))
numbers = -1000
print(bool(numbers))
numbers = None
print(bool(numbers))

True
False
True
True
False

In [20]:
## convert bool to numeric
bool1 = True
print(int(bool1))
bool1 = False
print(int(bool1))

1
0

In [23]:
### indexing – In Detail
### indexing
AgeOfCust = 34,23,35,64,23,21,34,56
print(AgeOfCust)
print(AgeOfCust[3])
print(AgeOfCust[0:5])
print(AgeOfCust[-4]) # 4th element from right
print(AgeOfCust[1:])
print(AgeOfCust[-4:]) # 4th element onwards from left
print(AgeOfCust[-4:-2]) #4th last and 3rd last element

(34, 23, 35, 64, 23, 21, 34, 56)
64
(34, 23, 35, 64, 23)
23
(23, 35, 64, 23, 21, 34, 56)
(23, 21, 34, 56)
(23, 21)
()

In [18]:
AgeOfCust = 34,23,35,64,23,21,34,56
[list(AgeOfCust[0:3]),list(AgeOfCust[4:])]

[[34, 23, 35], [23, 21, 34, 56]]

In [28]:
B = [[1,2,4],98,101,100]
# Indexing in object inside an object
B = [[1,2,4],98,101,100]
print(B[0])
print(B[0][1])

[1, 2, 4]
2

In [29]:
B[1]

98

In [30]:
B[2]

101

In [31]:
B = [[1,2,4],(98,101,100)]
print(type(B[0]))
print(type(B[1]))
print(B[1][1:3])

<class 'list'>
<class 'tuple'>
(101, 100)

In [21]:
B = [[1,2,4],(98,101,100)]
x = B[0][1]
y = B[1][1]
z = B[0][2]
print(z)
list([x,y])

4

[2, 101]

In [30]:
## can not index set directly
Auto_survey = {'BMW', 'BMW','AUDI','Merc', 'Merc','Bentley','Mini Cooper','Suzuki','Hundai'}
print(Auto_survey)
# below will not work
# Auto_survey[2]
list(Auto_survey)[2]

{'Merc', 'Bentley', 'Suzuki', 'Mini Cooper', 'AUDI', 'Hundai', 'BMW'}

'Suzuki'

In [38]:
# indexing dictionary
first_dict = {'John Email ID':"John@abc.com",'kelly':"kelly@org.com",'ids':[101,102]}
print(first_dict)
# below will not work
# first_dict[0]
print(first_dict['John Email ID'])
print(first_dict['ids'])
print(first_dict['ids'][0])

{'John Email ID': 'John@abc.com', 'kelly': 'kelly@org.com', 'ids': [101, 102]}
John@abc.com
[101, 102]
101